<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      10 produtos escaneados
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      10 produtos a escanear
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      5 produtos a serem corrigidos
    </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <button ion-button full on-click="goToScanner()">Escanear novos produtos</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>